In [ ]:
import pandas as pd
import re

In [4]:
df = pd.read_csv('house.csv')

In [10]:
df.groupby(['SellerG']).sum().sort_values('Price', ascending = False).head(10)

C:\Users\carla\AppData\Local\Temp\ipykernel_15812\418356592.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['SellerG']).sum().sort_values('Price', ascending = False).head(10)

               Rooms         Price  Postcode  Propertycount  Distance
SellerG
Jellis         16948  5.301902e+09  17116422       42958979   47831.6
Nelson         13808  4.089097e+09  14489179       35455466   34410.5
Barry          22919  4.022899e+09  21405391       54662639  108662.2
Marshall        9437  3.337732e+09   8949613       22270034   20141.4
hockingstuart  12635  3.174822e+09  13571171       36291698   53918.3
Buxton         10707  3.103258e+09  10669223       21365913   48190.6
Ray            14961  2.953669e+09  14329293       41191735   76239.1
Fletchers       5402  1.384292e+09   5039345       10521475   21963.2
Biggin          4203  1.002292e+09   4783284       12904764   12250.2
Noel            3447  9.618405e+08   3328766        6571572   14386.3